body {
    margin: 20px;
    padding: 20px;
    background-image: url("vita.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-weight: 100;
}

label {
    color: white;
    display: inline-block;
    width: 5em;
}

.x-axis-label {
    color: white;
    z-index: 1000;
    display: block;
}

.y-axis-label {
    color: white;
    z-index: 1000;
    display: block;
}

.intro_button {
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.navbar-header {
    font-size: 90px;
    color: white;
    font-weight: 100;
}

.navbar-brand {
    font-size: 35px;
    color: white;
    font-weight: 100;

}

.navbar-nav {
    background-color: transparent;
    font-size: 30px;
    border: none;
    font-weight: 100;
}

.navbar {
    background-color: transparent;
    border: none;
    padding: 50px;

}

.navbar-right {
    color: white;
    font-size: 20px;
    font-weight: 100;

}

.dc-chart g.row text {
    fill: white;
    font-size: 12px;
    color: white;
    font-weight: 100;
    stroke: white;
}

.x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    stroke: white;
    font-weight: 100;
    fill: white;

}

.y.axis text {

    stroke: white;
    fill: white;
    font-weight: 100;

}

.tick {
    color: white;
}

.dc-select-menu {
    background: #001f4d;
    width: 80%;
    border: none;
    position: relative;
    height: 31px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    margin: 10px;

}

.pie {
    border: 1px black solid;
    background-color: black;
    opacity: 0.8;

}

.bar {
    border: 1px black solid;
    background-color: black;
    opacity: 0.8;

}

.chart {

    border: 1px black solid;
    background-color: black;
    opacity: 0.8;

}

.introjs-helperNumberLayer {
    display: none;
}

.introjs-tooltip {
    color: #2a6496;
    background-color: #001f4d;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;

}

.introjs-arrow bottom {
    display: none;
}

.introjs-arrow top {
    display: none;
}

.introjs-helperLayer {
    display: none;
}

/*About*/

.gigs-img {
    position: relative;
    text-align: center;
    color: black;
    height: 1000px;
}

.img-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 15px;
    font-weight: 200;
    font-family: Quicksand, sans-serif;
}


