body{
   margin: 20px;
   padding: 20px;
   background-image: url("worldmap.png");
    background-color: darkslategrey;
   color: white;
}



.navbar-nav{
   background-color: black;
   font-size: 16px;
}

.navbar{
   background-color: black;
   font-size: 20px;


}


.dc-chart g.row text {
   fill: white;
   font-size: 12px;
}

.x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}



.dc-select-menu {
   background: darkred;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

