<!DOCTYPE html>
<html>
<head>
  <title>Life Expectancy Around the World</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Life Expectancy Around the World</a>
      </div>
    </div>
  </div>


          <!-- Countries -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
               Countries
              </div>
              <div class="chart-stage">
                <div id="country-chart"></div>
              </div>
            </div>
          </div>
          </div>
          <!-- Countries -->

          <div class="row">

          <!-- Gender Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Chart by Gender
              </div>
              <div class="chart-stage">
                <div id="gender-chart"></div>
              </div>
            </div>
          </div>
          <!-- Gender Chart -->

        <!-- Decade Bar -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Chart by Decade
              </div>
              <div class="chart-stage">
                <div id="decade-bar"></div>
              </div>
            </div>
          </div>
          <!-- Decade Bar -->

      <!-- menu select -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Country
          </div>
          <div class="chart-stage">
            <div id="countries-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->
              <!-- Gender Pie Chart -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Gender Pie Chart
          </div>
          <div class="chart-stage">
            <div id="gender-pie"></div>
          </div>
        </div>
      </div>
      <!-- Gender Pie Chart -->

    </div>
  </div>
  <hr>
  <p class="small text-muted"> Data viz &#9829; from Claire Mitchell</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>